/qtdeclarative-opensource-src-5.5.1.tar.xz
/qtdeclarative-opensource-src-5.6.0-beta1.tar.xz
/qtdeclarative-opensource-src-5.6.0-beta.tar.gz
/qtdeclarative-opensource-src-5.6.0-rc.tar.xz
/qtdeclarative-opensource-src-5.6.0.tar.xz
/qtdeclarative-opensource-src-5.6.1.tar.xz
/qtdeclarative-opensource-src-5.7.0.tar.xz
/qtdeclarative-opensource-src-5.7.1.tar.xz
/qtdeclarative-opensource-src-5.8.0.tar.xz
/qtdeclarative-opensource-src-5.9.0-beta3.tar.xz
/qtdeclarative-opensource-src-5.9.0-rc.tar.xz
/qtdeclarative-opensource-src-5.9.0.tar.xz
